.footer {
  position: relative;

  .footer-first {
    z-index: 10;
    padding-right: 5rem;
    margin-bottom: 15rem;
    @media @tablet-max {
      margin-bottom: 5rem;
    }
  }

  .footer-third {
    z-index: 10;
    margin-bottom: 15rem;
    padding-right: 5rem;
    text-align: right;
    @media @tablet-max {
      margin-bottom: 10rem;
      text-align: center;
      padding-right: 0;
    }
  }

  .footer-image {
    position: absolute;
    z-index: 1;
    background-image: url("/application/files/2116/5809/4259/mars-surface.png");
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    @media @tablet-max {
      height: 200px;
    }
  }

  h2, h3, h4, p {
    color: @footer-heading-color;
    @media @small-desktop-max {
    }
  }

  a {
    color: @footer-link-color;

    &:hover,
    &:focus,
    &:active {
      color: @footer-link-hover-color;
    }
  }
}