.footer {
  z-index: 10;
  color: @footer-color;
  padding-bottom: 6rem;
  padding-top: @footer-padding;
  background-image: url("/application/files/2116/5809/4259/mars-surface.png");
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;

  .footer-first {

  }

  .footer-second {
    height: 0;
    padding: 0;
  }

  h2, h3, h4, p {
    color: @footer-heading-color;
    text-align: center;
    @media @small-desktop-max {
      text-align: center;
    }
  }

  a {
    color: @footer-link-color;

    &:hover,
    &:focus,
    &:active {
      color: @footer-link-hover-color;
    }
  }
}