.footer {
  z-index: 10;
  color: @footer-color;
  padding-bottom: @footer-padding;
  padding-top: @footer-padding;
  background-color: @footer-bg;

  .footer-second {
    height: 0;
    padding: 0;
  }

  h2, h3, h4, p {
    color: @footer-heading-color;
    text-align: center;
    @media @small-desktop-max {
      text-align: center;
    }
  }

  a {
    color: @footer-link-color;

    &:hover,
    &:focus,
    &:active {
      color: @footer-link-hover-color;
    }
  }
}