.header {
  display: flex;
  height: 10rem;
  &-logo {
    display: flex;
    justify-content: center;
    img {
      margin: @header-logo-margin;
      margin-left: 4rem;
      margin-top: 3rem;
      height: 4rem;
      @media @tablet-max {
        margin-left: 2rem;
        margin-top: 2rem;
        height: 3rem;
      }
    }
  }

  &-navigation {

    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    @media @desktop-max {
      display: none;
    }
  }
}