.header {
  &-logo {
    display: flex;
    justify-content: center;

    img {
      width: 500px;
      margin: @header-logo-margin;
    }
  }

  &-navigation {
    display: flex;
    justify-content: center;
  }
}