.header {
  &-logo {
    display: flex;
    justify-content: center;
    img {
      width: 500px;
      margin: @header-logo-margin;
      margin-top: 100px;
    }
    @media @small-desktop-max {
      img {
        width: 260px;
      }
    }
  }

  &-navigation {
    display: block;
    justify-content: center;
  }
}
