// Rakenteiden/alueiden tyylit

.layout {
  padding-top: @layout-padding;
  padding-bottom: @layout-padding;

  &-mobile-hide {
    @media @desktop-max {
      display: none;
    }
  }

  &-margin {
    margin-left: 22vw;
    margin-right: 22vw;
    @media @desktop {
      margin-left: 6vw;
      margin-right: 6vw;
    }
  }

  &-desktop-hide {
    @media @desktop {
      display: none;
    }
  }

  &-padding {
    background-color: blue;
  }

  &-dark {
    .layout-style (@layout-dark-bg, @layout-dark-color);
  }

  &-large-padding {
    padding-bottom: @layout-padding-lg;
    padding-top: @layout-padding-lg;
  }

  &-center-vertically {
    .row {
      @media @tablet {
        align-items: center;
        display: flex;
      }
    }
  }
}

.kumppanit {
  img {
    margin: 1rem;
  }
}