.planets {
    z-index: -2;
}

.planets * {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.earth {
    background-image: url("/application/files/4016/5808/4772/earth-removebg.png");
    margin-left: 0vw;
    width: 20vw;
    height: 20vw;
    z-index: -1;
    pointer-events: none;
    transform: translateX(-10vw);
    transform-style: preserve-3d;
	transition: transform 5s ease;
    @media @desktop-max {
        width: 40vw;
        height: 40vw;
    }
}

.jupiter {
    background-image: url("/application/files/8316/5808/4772/jupiter-removebg.png");

    margin-left: 20vw;
    width: 20vw;
    height: 20vw;
    
    pointer-events: none;
    transform: translateX(10vw);
    transform-style: preserve-3d;
	transition: transform 5s ease;
    @media @desktop-max {
        margin-left: 60vw;
        width: 40vw;
        height: 40vw;
    }
}

.saturnus {
    background-image: url("/application/files/2416/5808/4772/saturnus-removebg.png");

    margin-left: 0vw;
    width: 20vw;
    height: 20vw;
    
    pointer-events: none;
    transform: translateX(0vw);
    transform-style: preserve-3d;
	transition: transform 5s ease;
    @media @desktop-max {
        width: 40vw;
        height: 40vw;
    }
}

.venus {
    position: absolute;
    top: 45vh;
    left: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    overflow: hidden;
    background-image: url("/application/files/8416/5808/4772/venus-removebg.png");
    transform: translate(-41%, -4%);
    width: 90px;
    height: 90px;
    @media @tablet-max {
        z-index: -1;
        top: 26vh;
        width: 64px;
        height: 64px;
        transform: translate(-50%, 5%);
    }
}


.planet {
}

#canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
    top: 0vh;
    left: 0vw;
    background-color:transparent;
    pointer-events: unset;
    @media @small-desktop-max {
      pointer-events: none;
    }
    @media @tablet-max {
      z-index: -1;
      transform: scale(0.7, 0.7);
      top: -20vh;
    }
}

.stellarium {
  #particles-js {
    background-color: @stellarium;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    max-width: 100vw;
    overflow:hidden;
    z-index:-1;
  }
}